@model IEnumerable<MIS4200Team2Project.Models.Reccomendation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recognition.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recognizer.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.awardDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recognition.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recognizer.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.awardDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Show Individual Results", "Index", new { id = item.employeeId, emp=item.Employee.fullName})
        </td>
    </tr>
}

</table>
